[Unit]
Description=DCI %i Feeder

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/dci-feeder-%i
ExecStart=/usr/bin/python /usr/share/dci-feeders/%i.py --dci-login $DCI_LOGIN --dci-password $DCI_PASSWORD --dci-cs-url $DCI_CS_URL
SuccessExitStatus=0

[Install]
WantedBy=default.target
