[Unit]
Description=DCI %i Feeder

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/dci-feeder-%i
ExecStart=/usr/bin/python /usr/share/dci-feeders/%i.py
SuccessExitStatus=0

[Install]
WantedBy=default.target
